* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Pretendard;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadada;
}

.todoApp {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

#taskInput {
  padding: 10px;
  flex: 1; /* 입력창이 버튼을 제외한 공간 차지 */
}

.taskContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.todoList,
.completedList {
  flex: 1;
  padding: 0 10px;
  overflow-y: auto;
  max-height: 100%; /* 할일이 완료 가로 사이즈 안넘어가도록 */
}

h2 {
  margin-bottom: 16px;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 6px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.delete {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.8;
}

h1 {
  margin-bottom: 16px;
}
